body{
    font-family: Arial, Helvetica, sans-serif;
}

/* use styling for top head of the page */
.main-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3e4853;
}
/* use myHeader to style box on left in top header */
.my-header{
    background-color: #92cccd;
    color:#31343d;
    text-align: right;
    width: 450px;
    font-size: 72px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;

    
}

/* Style nav bar at the top of the page */
.topnav {
    font-size: 35px;
    margin-right: 100px;
}

.topnav a {
    color:#92cccd;
    margin: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-bottom: 5px solid #92cccd;
    text-decoration: none;
}

#hero-text{
    color:#92cccd;
    background-color: #3e4853;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.hero-content img{ 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 20px;
    border: 10px;
    width: 25%;
}

h2{
    color:#6777a6;
    font-size: 50px;
}

h3{
    display: flex;
    color: orange;
    font: bold;
    font-size: 25px;
}

.main-section{
    
}


.column{
    float: left;
    width: 30%;
}

.column.side{
    width: 20%;
}

.column.main{
    width: 80%;
}

.footer{

}
h2{
    color: darkblue;
}

/* Tablet */
@media screen and (max-width: 992px){

}

/* Large smartphones */
@media screen and (max-width:768px){

}

/* Small smartphones */
@media screen and (max-width:576px){

}